[submodule "specification"]
	path = src/specification
	url = https://github.com/Alevettih/front-end-specification.git
[submodule "angular-codebase"]
	path = src/codebase/angular
	url = https://github.com/Alevettih/angular-codebase.git
